body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(137, 137, 240);
}
.container{
    margin: 2%;
}
.virsutineDalis{
    text-align: center;
}
.virsutineDalis h1{
    font-size: 30px;
}
.Konvertavimas{
    margin-top: 2%;
    text-align: center;
}
.forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    margin: 5px 0;
}

.row p{
    margin: 0 10px 0 0;
    width: 100px;
    text-align: end;
}

.row input {
    flex-grow: 1;
}


.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    background: linear-gradient(145deg, #5e61cc, #7f72f6);
    border: none;
    transition: all 0.2s;
}

.toggle-button.active, .toggle-button:active {
    border-radius: 50px;
    box-shadow: inset 20px 20px 60px #4e51a8, inset -20px -20px 60px #655bc3;
    color: wheat;
}